<div id="wrapper"><!-- wrapper start -->

	<div id="top_wrapper"><!-- top wrapper start -->
		<div id="top_wrapper_line_t"></div><!-- top line of the top wrapper -->

		<div id="header" class="broof_grid"><!-- header start -->

			<a href="index.php" id="logo"><img src="../images/logo.png" alt="logo" /></a><!-- Your logo here -->

			<%= render "pages/nav" %>

			<div class="clear"></div><!-- clear navigation and logo -->					

		</div><!-- header end -->

	</div><!-- top wrapper end -->
	<div id="top_wrapper_line_b"></div><!-- bottom line of the top wrapper -->

	<div class="broof_grid"><!-- content start -->

		<div class="one">
			<h1>A little about us</h1>
			<p>
				<strong>Spectrum Camera Cranes Pty Ltd </strong> is a company formed in the late 1990's with the sole intention to specialise in the field of Camera Cranes operation. Since our humble beginnings we have advanced 					with considerable speed to become a leader in the use of Camera Cranes in the Film and Television Industry. Coupled with our many years of service in the industry our expertise is well reflected in our results. 						We have developed with a changing market so that we can supply and operate our equipment in order to achieve the spectacular shots that give the viewer a different perspective on events that can not normally be 						achieved with standard camera angles.
			</p>
			<p>
				Over many years of working in the industry we have developed an understanding of the needs and intentions of our clients to achieve results with a minimum of fuss and effort. We can supply equipment and/or 							personal that are trained and designed to achieve the ultimate goal in mind. <strong>Spectrum Camera Cranes Pty Ltd </strong> own and operate 4 Camera Cranes that can fill the majority of arising situations. 						These Cranes vary in size, weight and application and are adaptable and interchangeable so that they can be used in a variety of ways. Upon doing this we endeavour to fulfil the needs of any production in 							achieving the desired results.
			</p>
			<p>
				Our trained personnel have developed skills in many aspects of the industry and can fill numerous positions such as Crane Operators [grips & assistants], Hot Head Operators, Camera Operators, Camera 									Assistance and Studio Hands. We can supply our equipment with or without the trained personnel to operate our equipment depending on the requirements of the production. Our staff and equipment have been involved 					in numerous Sporting Events, Concerts, Film Shoots, Commercials and Corporate Videos.
			</p>

			<!--
				<div class="one_third"><img class="imgboarder" src="images/test_about.png" alt="team member one" /></div>
				<div class="one_third"><img class="imgboarder" src="images/test_about.png" alt="team member two" /></div>
				<div class="one_third last"><img class="imgboarder" src="images/test_about.png" alt="team member three" /></div>
			-->

			<div class="devider_side"></div>
			<div class="clear"></div>

			<h3>Television</h3>	
			<table>
				<tbody>
					<tr>
						<td>DANCING WITH THE STARS</td><td>SUNRISE</td><td>SUNDAY NIGHT</td><td>DEAL OR NO DEAL</td>
					</tr>
					<tr>
						<td>ALL STAR SQUARES</td><td>AUSTRALIAS GOT TALENT</td><td>BEAT THE STARS</td><td>SO YOU THINK YOU CAN DANCE</td>
					</tr>
					<tr>
						<td>IT TAKES TWO</td><td>WEAKEST LINK</td><td>INSIGHT</td><td>X FACTOR</td>
					</tr>
					<tr>
						<td>GLADIATORS</td><td>CAROLS BY CANDELIGHT</td><td>LOGIE AWARDS</td><td>DEMOLITION</td>
					</tr>
					<tr>
						<td>EINSTEIN FACTOR</td><td>SMARTER THAN A FIFTH GARDER</td><td>ROVE</td><td>TALKING BOUT MY GENERATION</td>
					</tr>
					<tr>
						<td>MASTERCHEF</td><td>MY KITCHEN RULES</td><td>THE RICH LIST</td><td>SINGING OFFICE</td>
					</tr>
					<tr>
						<td>PLANET SHAKERS CONFRENCE</td><td>MYER XMAS PARADE</td><td>MELBOURNE COMEDY GALA</td><td>MELBOURNE COMEDY FESTIVAL</td>
					</tr>
					<tr>
						<td>GREAT COMEDY DEBATE</td><td>ROYAL CHILDRENS HOSPITAL APPEAL GALA</td><td>NATIONAL IQ TEST</td><td>NATIONAL DRIVE TEST</td>
					</tr>
					<tr>
						<td>FULL FRONTAL</td><td>BIG GIRLS BLOUSE</td><td>FAST FORWARD</td><td>ERIC BANA SHOW</td>
					</tr>
					<tr>
						<td>MAN O MAN</td><td>MOOMBA PARADE</td>
					</tr>
				</tbody>
			</table>

			<div class="devider_side"></div>
			<div class="clear"></div>
			<h3>Music</h3>

			<table>
				<tbody>
					<tr>
						<td>BON JOVI</td><td>MEATLOAF AND THE MSO</td><td>JOHN FARNHAM</td><td>TOM JONES</td>
					</tr>
					<tr>
						<td>COLD LIVE AT THE CHAPEL</td><td>JOHN MAYER</td><td>JAMIE CULLUM</td><td>LIVING END</td>
					</tr>
					<tr>
						<td>JAMES REYNE</td><td>BLONDIE</td><td>SLASH MTV CLASSIC LAUNCH</td><td>ANDREA REIU</td>
					</tr>
					<tr>
						<td>CHANNEL V MUSIC CONCERTS</td><td>ARIA HALL OF FAME</td><td>KISS</td><td>WOLFMOTHER</td>
					</tr>
				</tbody>
			</table>

			<div class="devider_side"></div>
			<div class="clear"></div>
			<h3>Sporting Events</h3>

			<table>
				<tbody>
					<tr>
						<td>OLYMPIC GAMES <i>2000/2004/2008</i></td><td>WINTER OLYMPICS <i>2006/2010</i></td><td>COMMONWEALTH GAMES <i>2006</i></td><td>ASIA GAMES DOHA</td>
					</tr>
					<tr>
						<td>WEST ASIA GAMES</td><td>AFL GRAND FINAL SERIES</td><td>AFL NIGHT SERIES</td><td>NAB CUP</td>
					</tr>
					<tr>
						<td>AFL BROWNLOW MEDAL COUNT</td><td>AFL PARADE</td><td>MELBOURNE SPRING CARNIVAL</td><td>CAULFIELD CUP</td>
					</tr>
					<tr>
						<td>MOONEE VALLEY</td><td>PRESIDENTS CUP GOLF</td><td>WORLD MATCH PLAY</td><td>GREG NORMAN CLASSICS </td>
					</tr>
					<tr>
						<td>AUSTRALIAN MASTERS</td><td>AUSTRALIAN MASTERS</td><td>AUSTRALIAN OPEN</td><td>HEINEKEN CLASSIC</td>
					</tr>
					<tr>
						<td>AUSTRALIAN WOMENS OPEN</td><td>AUSTRALIAN OPEN TENNIS</td><td>DAVIS CUP TENNIS</td><td>KOOYONG CLASSIC</td>
					</tr>
					<tr>
						<td>WORLD TRACK CYCLING</td><td>SUN TOUR CYCLING</td><td>ACCENTURE TRIATHLON SERIES</td><td>VODAFONE BEACH VOLLEYBALL</td>
					</tr>
					<tr>
						<td>MELBOURNE MARATHON</td><td>STAWELL GIFT</td><td>V8 SUPERCARS SANDOWN</td><td>V8 SUPERCARS SIMMONS PLAINS</td>
					</tr>
					<tr>
						<td>MOTO X</td><td>WORLD CUP RUGBY QUALIFIER</td><td>RUGBY UNION TESTS</td><td>SOCCER WORLD CUP QUALIFIER</td>
					</tr>
					<tr>
						<td>SOCCER INTERNATIONALS</td><td>BOXING SKY CHANNEL</td><td>KICKBOXING FOX SPORTS</td><td>AUSTRALIAN OPEN LAWN BOWLS</td>
					</tr>
					<tr>
						<td>GLOBE SKATEBOARDING</td><td>WWF WRESTLING</td><td>MOOMBA MASTERS WATERSKIING</td><td>INTERNATIONAL GYMNASTICS</td>
					</tr>
				</tbody>
			</table>





		</div><!-- content end -->
