<div id="wrapper"><!-- wrapper start -->

<div id="top_wrapper"><!-- top wrapper start -->
	<div id="top_wrapper_line_t"></div><!-- top line of the top wrapper -->

	<div id="header" class="broof_grid"><!-- header start -->

		<a href="<% root_path %>" id="logo"><img src="../images/logo.png" alt="logo" /></a><!-- Your logo here -->

		<%= render "pages/nav" %>

		<div class="clear"></div><!-- clear navigation and logo -->					

	</div><!-- header end -->

</div><!-- top wrapper end -->
<div id="top_wrapper_line_b"></div><!-- bottom line of the top wrapper -->

<div class="broof_grid"><!-- content start -->

	<div class="one">
		<h1>A little about us</h1>
	
		<div class="text-center">
			<p>Expertise and experience combine to make <strong>Spectrum Camera Cranes</strong> leaders in the television and film industry.</p>

			<p>Whether it’s the fast pace sporting arenas on the world stage, home grown television or a concert musical spectacular – we deliver striking shots and new viewer perspectives from our six camera cranes.</p>

			<p>We have seen major changes in our client’s needs and viewer expectations since our humble beginning more than 15 years ago, and have earned a reputation for delivering a professional, reliable, no fuss result every time.</p>

			<p>Whether you need us to supply, or supply and operate, our six Camera Cranes vary in size, weight and application are interchangeable - giving you both flexibility and versatility when you need it.</p>

			<p>We have specialist crane operators (grips &amp; assistants), hot head operators, camera operators, camera assistants and studio hands to ensure that equipment and expertise combines to create your ultimate goal.</p>

			<p>At <strong>Spectrum Camera Cranes</strong> we have an extensive range of jibs, dollies, camera’s and camera equipment at our disposal to meet the needs of most production requirements.</p>
		</div>
	
		<div class="devider_side"></div>
		<div class="clear"></div>
		<h2>Credits:</h2>
		<h4>Television</h4>	
		<table>
			<tbody>
				<tr>
					<td>DANCING WITH THE STARS</td><td>SUNRISE</td><td>SUNDAY NIGHT</td><td>DEAL OR NO DEAL</td>
				</tr>
				<tr>
					<td>ALL STAR SQUARES</td><td>AUSTRALIAS GOT TALENT</td><td>BEAT THE STARS</td><td>SO YOU THINK YOU CAN DANCE</td>
				</tr>
				<tr>
					<td>IT TAKES TWO</td><td>WEAKEST LINK</td><td>INSIGHT</td><td>X FACTOR</td>
				</tr>
				<tr>
					<td>GLADIATORS</td><td>CAROLS BY CANDELIGHT</td><td>LOGIE AWARDS</td><td>DEMOLITION</td>
				</tr>
				<tr>
					<td>EINSTEIN FACTOR</td><td>SMARTER THAN A FIFTH GARDER</td><td>ROVE</td><td>TALKING BOUT MY GENERATION</td>
				</tr>
				<tr>
					<td>MASTERCHEF</td><td>MY KITCHEN RULES</td><td>THE RICH LIST</td><td>SINGING OFFICE</td>
				</tr>
				<tr>
					<td>PLANET SHAKERS CONFRENCE</td><td>MYER XMAS PARADE</td><td>MELBOURNE COMEDY GALA</td><td>MELBOURNE COMEDY FESTIVAL</td>
				</tr>
				<tr>
					<td>GREAT COMEDY DEBATE</td><td>ROYAL CHILDRENS HOSPITAL APPEAL GALA</td><td>NATIONAL IQ TEST</td><td>NATIONAL DRIVE TEST</td>
				</tr>
				<tr>
					<td>FULL FRONTAL</td><td>BIG GIRLS BLOUSE</td><td>FAST FORWARD</td><td>ERIC BANA SHOW</td>
				</tr>
				<tr>
					<td>MAN O MAN</td><td>MOOMBA PARADE</td>
				</tr>
			</tbody>
		</table>


		<div class="devider_side"></div>
		<div class="clear"></div>
		<h4>Sporting Events</h4>

		<table>
			<tbody>
				<tr>
					<td>OLYMPIC GAMES <i>2000/2004/2008</i></td><td>WINTER OLYMPICS <i>2006/2010</i></td><td>COMMONWEALTH GAMES <i>2006</i></td><td>ASIA GAMES DOHA</td>
				</tr>
				<tr>
					<td>WEST ASIA GAMES</td><td>AFL GRAND FINAL SERIES</td><td>AFL NIGHT SERIES</td><td>NAB CUP</td>
				</tr>
				<tr>
					<td>AFL BROWNLOW MEDAL COUNT</td><td>AFL PARADE</td><td>MELBOURNE SPRING CARNIVAL</td><td>CAULFIELD CUP</td>
				</tr>
				<tr>
					<td>MOONEE VALLEY</td><td>PRESIDENTS CUP GOLF</td><td>WORLD MATCH PLAY</td><td>GREG NORMAN CLASSICS </td>
				</tr>
				<tr>
					<td>AUSTRALIAN MASTERS</td><td>AUSTRALIAN MASTERS</td><td>AUSTRALIAN OPEN</td><td>HEINEKEN CLASSIC</td>
				</tr>
				<tr>
					<td>AUSTRALIAN WOMENS OPEN</td><td>AUSTRALIAN OPEN TENNIS</td><td>DAVIS CUP TENNIS</td><td>KOOYONG CLASSIC</td>
				</tr>
				<tr>
					<td>WORLD TRACK CYCLING</td><td>SUN TOUR CYCLING</td><td>ACCENTURE TRIATHLON SERIES</td><td>VODAFONE BEACH VOLLEYBALL</td>
				</tr>
				<tr>
					<td>MELBOURNE MARATHON</td><td>STAWELL GIFT</td><td>V8 SUPERCARS SANDOWN</td><td>V8 SUPERCARS SIMMONS PLAINS</td>
				</tr>
				<tr>
					<td>MOTO X</td><td>WORLD CUP RUGBY QUALIFIER</td><td>RUGBY UNION TESTS</td><td>SOCCER WORLD CUP QUALIFIER</td>
				</tr>
				<tr>
					<td>SOCCER INTERNATIONALS</td><td>BOXING SKY CHANNEL</td><td>KICKBOXING FOX SPORTS</td><td>AUSTRALIAN OPEN LAWN BOWLS</td>
				</tr>
				<tr>
					<td>GLOBE SKATEBOARDING</td><td>WWF WRESTLING</td><td>MOOMBA MASTERS WATERSKIING</td><td>INTERNATIONAL GYMNASTICS</td>
				</tr>
			</tbody>
		</table>


		<div class="devider_side"></div>
		<div class="clear"></div>
		
		<h4>Music</h4>

		<table>
			<tbody>
				<tr>
					<td>BON JOVI</td><td>MEATLOAF AND THE MSO</td><td>JOHN FARNHAM</td><td>TOM JONES</td>
				</tr>
				<tr>
					<td>COLD LIVE AT THE CHAPEL</td><td>JOHN MAYER</td><td>JAMIE CULLUM</td><td>LIVING END</td>
				</tr>
				<tr>
					<td>JAMES REYNE</td><td>BLONDIE</td><td>SLASH MTV CLASSIC LAUNCH</td><td>ANDREA REIU</td>
				</tr>
				<tr>
					<td>CHANNEL V MUSIC CONCERTS</td><td>ARIA HALL OF FAME</td><td>KISS</td><td>WOLFMOTHER</td>
				</tr>
			</tbody>
		</table>


	</div><!-- content end -->
