<div id="wrapper">
	<!-- wrapper start -->
	<div id="top_wrapper">
		<!-- top wrapper start -->
		<div id="top_wrapper_line_t"></div><!-- top line of the top wrapper -->
		<div id="header" class="broof_grid">
			<!-- header start -->
			<a href="<% root_path %>" id="logo" name="logo"><img src="../images/logo.png" alt="logo"></a><!-- Your logo here -->
			<%= render "pages/nav"%>
			<div class="clear"></div><!-- clear navigation and logo -->
		</div><!-- header end -->
	</div><!-- top wrapper end -->
	<div id="top_wrapper_line_g"></div><!-- bottom line of the top wrapper -->
	<div class="broof_grid">
		<!-- content start -->
		<div id="gallery">
			
			<!-- <img src="../images/coin_slider/slide1.jpg"> -->
		</div>
		
		<div class="devider_side"></div>
		<div class="clear"></div>

		<div id="video">
			<h3>Video's:</h3>
			<ul class="portfolio">
				<li class="one_fourth"><a data-toggle="modal" href="#vid01"><%= image_tag "video/vid01.jpg" %></a></li>
			</ul>
		</div><!-- #video -->
		<div class="clear"></div>
		
		<div class="modal hide fade" id="vid01">
		  <div class="modal-header">
		    <button class="close" data-dismiss="modal">×</button>
		    <h3>James O’Connor TVC</h3>
		  </div>
		  <div class="modal-body">
		    <iframe src="http://player.vimeo.com/video/25441719" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		  </div>
		  <div class="modal-footer">
		    <a href="#" data-dismiss="modal" class="btn">Close</a>
		  </div>
		</div>
		
	</div><!-- content end -->
	<!-- Galleria Initiate -->
	<script type="text/javascript">
	Galleria.loadTheme('../lib/js/galleria/themes/twelve/galleria.twelve.min.js');
	$("#gallery").galleria({
		width: 960,
		height: 600,
		picasa: 'useralbum:103761947043385223751/scc', // 'galleriajs' is the username and 'Demo' is the album ID
		picasaOptions: { sort: 'date-posted-asc', max: 100}
	});
	</script>

</div>
