    	<div id="wrapper"><!-- wrapper start -->
    
            <div id="top_wrapper"><!-- top wrapper start -->
                <div id="top_wrapper_line_t"></div><!-- top line of the top wrapper -->
                
                <div id="header" class="broof_grid"><!-- header start -->
                
                    <a href="index.php" id="logo"><img src="../images/logo.png" alt="logo" /></a><!-- Your logo here -->
                    
 						<%= render "pages/nav" %>
					
                    <div class="clear"></div><!-- clear navigation and logo -->
                    <div class="theme-default">
	                    <div id="slider" class"nivoSlider"><!-- slider start -->
							<img src="../images/coin_slider/slide1.jpg" alt="Crane cam at beach" />
							<img src="../images/coin_slider/slide2.jpg" alt="Camera close up" />
							<img src="../images/coin_slider/slide3.jpg" alt="Camera at the Olympics" />
							<img src="../images/coin_slider/slide4.jpg" alt="Fishing show camera shot" />
						</div><!-- slider end -->
                    </div>
                </div><!-- header end -->
                
            </div><!-- top wrapper end -->
			<div id="top_wrapper_line_b"></div><!-- bottom line of the top wrapper -->
    
    		<div class="broof_grid"><!-- content start -->

				<div class="devider_top"></div>
				
				<div class="one_third">
					<h3>Who We Are</h3>
					<p>Spectrum Camera Cranes Pty Ltd is a company formed in the late 1990's with the sole intention to specialize in the field of Camera Cranes operation.
					Since our humble beginnings we've advanced with speed to become a leader in the use of Camera Cranes in the Film and Television Industry.</p>
				</div>
				<div class="one_third">
					<h3>Services</h3>
					<div class="one_third_a">
						<ul class="check_green">
							<li>Cranes</li>
							<li>Jib's</li>
							<li>Remote Heads</li>
							<li>Dollies + Tracks</li>
							<li>Vehicle's</li>
							<li>Mount's + Risers</li>
						</ul>
					</div>
					<div class="one_third_b">
						<ul class="check_green">
							<li>Cranes</li>
							<li>Jib's</li>
							<li>Remote Heads</li>
							<li>Dollies + Tracks</li>
							<li>Vehicle's</li>
							<li>Mount's + Risers</li>
						</ul>
					</div>	
				</div>
				<div class="one_third last">
					<h3>Clients</h3>
						
						<table>
							<tbody>
								<tr>
									<td><img src="../images/logo/seven.png"></td><td><img src="../images/logo/ten.png"></td><td><img src="../images/logo/abc.png"></td><td><img src="../images/logo/endemol.png"></td>
								</tr>
								<tr>
									<td><img src="../images/logo/global.png"></td><td><img src="../images/logo/nine.png"></td><td><img src="../images/logo/sbs.png"></td><td><img src="../images/logo/espn.png"></td>
								</tr>
								<tr>
									<td><img src="../images/logo/sky.png"></td><td><img src="../images/logo/one.png"></td><td><img src="../images/logo/granada.png"></td><td><img src="../images/logo/mtv.png"></td>
								</tr>
							</tbody>
						</table>
						
				</div>
				
				<!--
				
				<div class="clear"></div>
				
				<div class="one_third"><img src="images/test_quality.png" alt="quality test" /></div>
				<div class="one_third"><img src="images/test_flexibilty.png" alt="flexebility test" /></div>
				<div class="one_third last"><img src="images/test_awesome.png" alt="awesome test" /></div>
				
				-->
				
				<div class="devider"></div>
				
				<div class="one">
					<h3>Interested? Well then...</h3>
					<p>Spectrum Camera Cranes are your specialists in the field of Camera Crane operation for the Film and Television Industry
					feel free to <a href="contact.php">contact</a> us with any questions.</p>
				</div>
		
				
            </div><!-- content end -->