<div id="wrapper">
	<!-- wrapper start -->
	<div id="top_wrapper">
		<!-- top wrapper start -->
		<div id="top_wrapper_line_t"></div><!-- top line of the top wrapper -->
		<div id="header" class="broof_grid">
			<!-- header start -->
			<a href="<%= root_path %>" id="logo" name="logo"><img src="../images/logo.png" alt="logo"></a><!-- Your logo here -->
			<%= render "pages/nav" %>
			<div class="clear"></div><!-- clear navigation and logo -->
			<div class="theme-default">
				<div id="slider">
					<!-- slider start -->
					<img src="../images/coin_slider/slide1.jpg" alt="Crane cam at beach"> <img src="../images/coin_slider/slide2.jpg" alt="Camera close up"> <img src="../images/coin_slider/slide3.jpg" alt="Camera at the Olympics"> <img src="../images/coin_slider/slide4.jpg" alt="Fishing show camera shot">
				</div><!-- slider end -->
			</div>
		</div><!-- header end -->
	</div><!-- top wrapper end -->
	<div id="top_wrapper_line_g"></div><!-- bottom line of the top wrapper -->
	<div class="broof_grid">
		<!-- content start -->
		<div class="devider_top"></div>
		<div class="one_third">
			<h3>
				Who We Are
			</h3>
			<p>
				At <strong>Spectrum Camera Cranes</strong> we have concentrated in specializing in jib and camera crane operation in the television and film industry.</br>
				Over the past 15 years we have honed, developed and refined our expertise to meet the ever changing needs of our clients.</br>
				Expertise and experience combine to make <strong>Spectrum Camera Cranes</strong> leaders in the television and film industry.</br>
			</p>
		</div>
		<div class="one_third">
			<h3>
				Services
			</h3>

			<table class="table table-striped">
				<tbody>
					<tr>
						<td><img src="../images/checklistpoint_green.png" alt="">Cranes</td>
						<td><img src="../images/checklistpoint_green.png" alt="">Jib's</td>
					</tr>

					<tr>
						<td><img src="../images/checklistpoint_green.png" alt="">Remote Heads</td>
						<td><img src="../images/checklistpoint_green.png" alt="">Dollies + Tracks</td>
					</tr>

					<tr>
						<td><img src="../images/checklistpoint_green.png" alt="">Vehicle's</td>
						<td><img src="../images/checklistpoint_green.png" alt="">Mount's + Risers</td>
					</tr>
				</tbody>
			</table>
		

		<!-- <div class="one_third_a">
			<ul class="check_green">
				<li>Cranes
				</li>
				<li>Jib's
				</li>
				<li>Remote Heads
				</li>
			</ul>
		</div>
		
		<div class="one_third_b">
			<ul class="check_green">
				<li>Dollies + Tracks
				</li>
				<li>Vehicle's
				</li>
				<li>Mount's + Risers
				</li>
			</ul>
		</div> -->

	</div>
	<div class="one_third last">
		<h3>
			Clients
		</h3>
		<table>
			<tbody>
				<tr>
					<td>
						<img src="../images/logo/seven.png">
					</td>
					<td>
						<img src="../images/logo/ten.png">
					</td>
					<td>
						<img src="../images/logo/abc.png">
					</td>
					<td>
						<img src="../images/logo/fox.png">
					</td>
				</tr>
				<tr>
					<td>
						<img src="../images/logo/global.png">
					</td>
					<td>
						<img src="../images/logo/nine.png">
					</td>
					<td>
						<img src="../images/logo/sbs.png">
					</td>
					<td>
						<img src="../images/logo/GH.png">
					</td>
				</tr>
				<tr>
					<td>
						<img src="../images/logo/PB.png">
					</td>
					<td>
						<img src="../images/logo/one.png">
					</td>
					<td>
						<img src="../images/logo/v8.png">
					</td>
					<td>
						<img src="../images/logo/fremantle.png">
					</td>
				</tr>
			</tbody>
		</table>
	</div><!--

		<div class="clear"></div>

		<div class="one_third"><img src="images/test_quality.png" alt="quality test" /></div>
		<div class="one_third"><img src="images/test_flexibilty.png" alt="flexebility test" /></div>
		<div class="one_third last"><img src="images/test_awesome.png" alt="awesome test" /></div>

	-->
	<div class="devider"></div>
	<div class="one">
		<h3>
			Interested? Well then...
		</h3>
		<p>
			Spectrum Camera Cranes are your specialists in the field of Camera Crane operation for the Film and Television Industry feel free to <a href="contact.php">contact</a> us with any questions.
		</p>
	</div>
</div><!-- content end -->
</div>
