/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require app_bootstrap
 *= require responsive
 *= require formtastic-bootstrap
 *= require broof_grid
 *= require event_handlers
 *= require ie
 *= require ie6
 *= require ie7
 *= require not_valid
 *= require style
*/

li {
line-height: 24px;
}

.alert {
  width: 300px;
}

#message_body {
	width: 400px;
}