#wrapper{height:100%;}
#top_wrapper_line_b{bottom:-7px;}
#logo{ margin-bottom:-9px;}
a.button span {padding: 6px 11px 6px 20px;} 
#top_wrapper_line_b{ margin-top:-7px;}
.footer_c_repeat { margin-top:-10px; padding-bottom:5px;}
#footer_very_bottom_wrapper{ bottom:-9px;}