html, body {
  height: 100%;
  position: relative;
}
body {
  font: 12px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, san-serif;
  line-height: 24px;
}

/*-------------------------------- Font-Styles ---------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4, h5, h6 {
  margin: 0 0 10px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

p {
  margin: 0 0 20px;
  font-size: 14px;
}

.text-center p{
  text-align: left;
}

pre {
  margin: 15px 0;
  padding: 15px 5px;
  border: 1px solid #e0e0e0;
  background: url(pre_bg.png) repeat;
  line-height: 15px;
}

blockquote {
  margin: 10px 30px;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 10px;
}

/*-------------------------------- Layout ---------------------------------------------------------*/
/*Wrapper*/
#wrapper {
  width: 100%;
  min-height: 100%;
  margin-bottom: 0px;
  position: relative;
}

/*Header*/
#top_wrapper {
  width: 100%;
  position: relative;
}
#top_wrapper_line_t {
  width: 100%;
  height: 9px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4000;
}
#top_wrapper_line_b {
  width: 100%;
  height: 9px;
  margin: 0 0 45px;
  z-index: 4000;
}
#top_wrapper_line_g {
  width: 100%;
  height: 9px;
  margin: 0 0 0px;
  z-index: 4000;
}

#header {
  height: 182px;
  padding: 9px 0;
  position: relative;
}
.header_devider {
  width: 960px;
  margin: 10px 0;
  padding: 60px 0 30px 0;
  text-align: center;
}
.header_devider h1 {
  margin: 0;
}
body#dynamic #header {
  height: auto;
}
#slider {
  width: 960px;
  height: 450px;
  margin: 50px 0 10px 0;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}

/*Logo*/
#logo {
  float: left;
  display: block;
  margin-top: 40px;
  z-index: 1000;
}

#nav-wrap {
  margin-top: 70px;
}

/*Navigation*/
#navigation {
  margin-top: 0px;
  float: right;
  position: relative;
}
#navigation li {
  position: relative;
  float: left;
  margin-left: 6px;
  padding-bottom: 1px;
}
#navigation li a {
  text-decoration: none;
  margin-left: 15px;
  padding: 4px 15px 5px 0;
}
/*Navigation dropdown*/
#navigation ul {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  margin: 0;
  padding: 0 11px;
  z-index: 200;
}
#navigation ul li, #navigation ul li a {
  margin: 0;
  float: none;
  padding: 0;
  background: none;
}
#navigation ul li {
  width: 134px;
  padding: 1px 0;
}
#navigation ul li a {
  padding: 0 5px;
}
/*Navigation dropdown side*/
#navigation ul ul {
  display: none;
  left: 100%;
  top: 0;
  z-index: 500;
}
/*Navigation rounded corner*/
#navigation ul li.dropdown_top, #navigation ul li.dropdown_bottom {
  border: none;
  width: 156px;
  height: 6px;
  position: absolute;
  left: 0;
  z-index: 150;
}
#navigation ul li.dropdown_top {
  top: -6px;
}
#navigation ul li.dropdown_bottom {
  bottom: -6px;
}

/*Navigation on hover*/
#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li:hover ul ul ul ul {
  display: none;
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul {
  display: block;
}


.sidebar_right_repeat {
  background: url(sidebar_right_repeat.png) repeat-y;
  width: 300px;
}
.sidebar_right_top {
  width: 260px;
  padding: 50px 0 0 40px;
  margin-top: -10px;
  background: url(sidebar_right_top.png) no-repeat;
}
.sidebar_right_bottom {
  width: 300px;
  height: 70px;
  background: url(sidebar_right_bottom.png) no-repeat;
}

.sidebar_left_repeat {
  background: url(sidebar_left_repeat.png) repeat-y;
  width: 300px;
}
.sidebar_left_top {
  width: 260px;
  padding: 50px 40px 0 0;
  margin-top: -50px;
  background: url(sidebar_left_top.png) no-repeat;
}
.sidebar_left_bottom {
  width: 300px;
  height: 70px;
  background: url(sidebar_left_bottom.png) no-repeat;
}

/*Sidebar widgets*/
.widget {
  color: #8b8a8a;
  border-bottom: 1px solid #dadada;
  margin-bottom: 30px;
}
.widget h3 {
  color: #4b4a4a;
  border-bottom: 1px solid #fff;
  margin: 0;
  padding-bottom: 15px;
}
/*Lists*/
.widget ul {
  list-style: none;
}
.widget ul li {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #fff;
  padding: 2px 15px 1px 15px;
}
.widget ul li a {
  text-decoration: none;
  color: #8b8a8a;
}
.widget ul li a:hover {
  color: #ff7200;
}
/*Paragraphs*/
.widget p {
  margin: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}
/*Tag-cloud*/
.tag-cloud {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #fff;
  padding: 10px 15px;
}
.tag-cloud a {
  text-decoration: none;
  color: #8b8a8a;
}
.tag-cloud a:hover {
  color: #ff7200;
}
.tag-cloud .size-1 {
  font-size: 1em;
  font-weight: 100;
}
.tag-cloud .size-2 {
  font-size: 1.1em;
  font-weight: 200;
}
.tag-cloud .size-3 {
  font-size: 1.2em;
  font-weight: 300;
}
.tag-cloud .size-4 {
  font-size: 1.3em;
  font-weight: 400;
}
.tag-cloud .size-5 {
  font-size: 1.4em;
  font-weight: 500;
}
.tag-cloud .size-6 {
  font-size: 1.5em;
  font-weight: 600;
}
.tag-cloud .size-7 {
  font-size: 1.6em;
  font-weight: 700;
}
.tag-cloud .size-8 {
  font-size: 1.7em;
  font-weight: 800;
}
.tag-cloud .size-9 {
  font-size: 1.8em;
  font-weight: 900;
}
.tag-cloud .size-10 {
  font-size: 1.9em;
  font-weight: 900;
}


/*Footer*/
#footer_clear {
  height: 0px;
  clear: both;
}
#footer_wrapper {
  width: 100%;
  position: relative;
}
#footer_wrapper_line {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
#footer {
  height: 20px;
  padding: 9px 0 0 0;
}
#footer a {
  text-decoration: none;
}
#footer span.time_ago {
  font-size: 10px;
  float: right;
}
#footer h3 {
  font-size: 16px;
  margin: 17px 0 11px 0;
}
.footer_c_top {
  width: 300px;
  height: 6px;
}
.footer_c_bottom {
  width: 300px;
  height: 6px;
  margin-bottom: 8px;
}
.footer_c_repeat p {
  margin: 0;
  padding: 0;
  line-height: 21px;
}
.footer_c_repeat {
  width: 278px;
  padding: 0px 11px;
}

#footer input, #footer_textarea {
  width: 278px;
  margin: 0 0 10px 0;
  padding: 5px 11px 7px 11px;
  border: none;
}
#footer input {
  height: 16px;
}
#footer input#footer_submit {
  width: 65px;
  height: 31px;
  border: none;
  cursor: pointer;
  float: right;
}
#footer_textarea {
  height: 86px;
  overflow: hidden;
}

#footer_very_bottom_wrapper {
  line-height: 12px;
  width: 100%;
  height: 31px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer_very_bottom_wrapper p {
  float: left;
  margin-top: 10px;
}
#footer_very_bottom_wrapper ul {
  float: right;
  margin-top: 10px;
}
#footer_very_bottom_wrapper ul li {
  float: left;
  margin-left: 20px;
}
#footer_very_bottom_wrapper ul li a {
  text-decoration: none;
}

/*Footer if error*/
#fc_name.error,#fc_email.error,#footer_textarea.error {
  color: #ff0000;
}

/*Portfolio Styles*/

ul.portfolio .one {
  width: 950px;
  height: 240px;
  padding: 5px 5px 13px 5px;
  background: url(portfolio_big_bg.png);
}
ul.portfolio .one_half {
  width: 440px;
  height: 190px;
  padding: 5px 5px 13px 5px;
  background: url(portfolio_medium_bg.png);
}
ul.portfolio .one_third {
  width: 290px;
  height: 140px;
  padding: 5px 0px 13px 0px;
  background: url(portfolio_small_bg.png);
  margin-bottom: 40px;
}

ul.portfolio .one_third p {
  padding-top: 35px;
}

ul.portfolio .one_fourth {
  width: 207px;
  height: 100px;
  padding: 5px 5px 10px 5px;
  background: url(portfolio_very_small_bg.png);
}

.one_third_a {
  font-size: 15px;
  width: 145px;
  height: 140px;
  float: left;
}
.one_third_b {
  font-size: 15px;
  width: 145px;
  height: 140px;
  float: left
}

ul.portfolio .one_half.description {
  width: 465px;
  height: auto;
  padding: 5px 0;
  background: none;
}
ul.portfolio .one.description {
  width: 960px;
  height: auto;
  margin-top: 0;
  padding: 5px 0;
  background: none;
}

span.title {
  /*background: url(portfolio_title.png) top right;*/
  text-align: left;
  position: absolute;
  padding: 1px 8px 1px 5px;
  top: 155px;
  line-height: 21px;
  background-color: #FFFFFF;
  border: solid 1px #C1C1C1;
}

/*Blog Styles*/
.blog_post {
  clear: both;
  margin-bottom: 30px;
}
.blog_thumb_big {
  width: 590px;
  height: 240px;
  margin-bottom: 15px;
  padding: 5px 5px 12px 5px;
  background: url(blog_thumb_big.png);
}

.blog_comments {
  margin-bottom: 40px;
}
.blog_comment_body {
  background: #f8f8f8;
  border: 1px solid #e2e2e2;
  padding: 20px 30px;
}
.children .blog_comment_body {
  background: none;
  border: none;
}
.blog_comments .children li {
  margin-left: 30px;
}
.blog_comment_userthumb {
  width: 60px;
  height: 60px;
  padding: 4px;
  background: #fff;
  border: 1px solid #d5d5d5;
  float: left;
}
.blog_comment_meta {
  float: left;
  margin: 0 0 20px 30px;
}
.blog_comment_username {
  font-size: 16px;
  color: #454545;
}
.blog_comment_date {
  color: #c8c8c8;
}
.blog_comment {
  clear: both;
  padding-left: 100px;
}

.blog_comment_form {
  margin-top: 30px;
}
.blog_comment_form p {
  display: block;
  margin: 0;
  padding: 0;
}
.blog_comment_form p.margin {
  margin-top: 15px;
}
.blog_comment_form p.info {
  float: left;
  color: #c4c4c4;
}
.blog_comment_form p span.needed {
  color: #f00;
}
.blog_comment_form input {
  background: url(contact_input.png) repeat-x #fff;
  width: 400px;
  height: 17px;
  padding: 7px 5px 5px 5px;
  border: 1px solid #dbdbdb;
}
#blog_comment_form_message {
  background: url(contact_input.png) repeat-x #fff;
  width: 588px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
#blog_comment_form_submit {
  width: 92px;
  height: 35px;
  background: url(contact_submit.png) no-repeat;
  color: #515151;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 0 0 2px 0;
}

/*Contact Styles*/
.contactform {
  margin-top: 30px;
}
.contactform p {
  display: block;
  margin: 0;
  padding: 0;
}
.contactform p.margin {
  margin-top: 15px;
}
.contactform p.info {
  float: left;
  color: #c4c4c4;
}
.contactform p span.needed {
  color: #f00;
}
.contactform input {
  background: url(contact_input.png) repeat-x #fff;
  width: 400px;
  height: 17px;
  padding: 7px 5px 5px 5px;
  border: 1px solid #dbdbdb;
}
.contactform input.error,#c_message.error {
  border: 1px solid #ff9090;
}
#c_message {
  background: url(contact_input.png) repeat-x #fff;
  width: 588px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}
#c_submit {
  width: 92px;
  height: 35px;
  background: url(contact_submit.png) no-repeat;
  color: #515151;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 0 0 2px 0;
}
#c_loader {
  width: 16px;
  height: 16px;
  background: url(contactloader.gif) no-repeat;
  float: right;
  margin-top: 18px;
}

/*Searchform Styles*/
#searchform {
  width: 350px;
  margin: 50px auto;
}
#searchform input {
  background: url(contact_input.png) repeat-x #fff;
  width: 289px;
  height: 17px;
  padding: 6px 5px 5px 5px;
  border: 1px solid #dbdbdb;
  float: left;
}
#searchform input#searchformbutton {
  width: 49px;
  height: 30px;
  background: url(searchbutton.png) no-repeat;
  border: none;
  cursor: pointer;
  float: left;
}

/*-------------------------------- Misc ---------------------------------------------------------*/
/*Pagination*/
.pagination {
  color: #ababab;
  line-height: 12px;
}
.pagination a {
  color: #666;
  text-decoration: none;
}
.pagination span a {
  margin-left: 5px;
  padding: 3px 5px 2px 5px;
}
.pagination span.active a, .pagination span.active a:hover {
  background: url(pagination_active.png) repeat-x;
}
.pagination span.active a:hover {
  color: #fff;
}
.pagination span a:hover {
  background: url(pagination_hover.png) repeat-x;
}

/*Devider*/
.devider, .devider_top {
  float: left;
  clear: both;
  width: 960px;
  height: 8px;
  margin: 15px 0;
  background: url(devider.png) no-repeat;
}
.devider_top {
  background: url(devider_top.png) no-repeat;
}
.devider_side, .devider_side_top {
  float: left;
  clear: both;
  width: 600px;
  height: 8px;
  margin: 15px 0;
  background: url(devider_side.png) no-repeat;
}
.devider_side_top {
  background: url(devider_side_top.png) no-repeat;
}

.right {
  float: right;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
img.imgboarder {
  padding: 4px;
  background-color: fff;
  border: 1px solid #dfdfdf;
  margin: 10px;
}

/*-------------------------------- Buttons ---------------------------------------------------------*/
/*Normal button*/
a.button {
  text-decoration: none;
  color: #515151;
  font-size: 18px;
  display: block;
  height: 34px;
  background: transparent url(button_right.png) no-repeat scroll top right;
  padding-right: 9px;
  margin-right: 6px;
}
a.button span {
  background: transparent url(button_left.png) no-repeat;
  display: block;
  line-height: 22px;
  padding: 8px 11px 8px 20px;
}
a.button:hover {
  background-position: right -34px;
}
a.button:hover span {
  background-position: 0 -34px;
}

/*-------------------------------- Lists ---------------------------------------------------------*/

/*normal*/
.normal_black, .normal_red, .normal_orange, .normal_yellow, .normal_green, .normal_blue, .normal_violet, .normal_pink, .check_black, .check_red, .check_orange, .check_yellow, .check_green, .check_blue, .check_violet, .check_pink {
  margin-bottom: 15px;
  list-style-position: inside;
  padding-left: 0px;
}
.normal_black {
  list-style-image: url(listpoint_black.png);
}
.normal_red {
  list-style-image: url(listpoint_red.png);
}
.normal_orange {
  list-style-image: url(listpoint_orange.png);
}
.normal_yellow {
  list-style-image: url(listpoint_yellow.png);
}
.normal_green {
  list-style-image: url(listpoint_green.png);
}
.normal_blue {
  list-style-image: url(listpoint_blue.png);
}
.normal_violet {
  list-style-image: url(listpoint_violet.png);
}
.normal_pink {
  list-style-image: url(listpoint_pink.png);
}

/*check*/
.check_black {
  list-style-image: url(checklistpoint_black.png);
}
.check_red {
  list-style-image: url(checklistpoint_red.png);
}
.check_orange {
  list-style-image: url(checklistpoint_orange.png);
}
.check_yellow {
  list-style-image: url(checklistpoint_yellow.png);
}
.check_green {
  list-style-image: url(checklistpoint_green.png);
}
.check_blue {
  list-style-image: url(checklistpoint_blue.png);
}
.check_violet {
  list-style-image: url(checklistpoint_violet.png);
}
.check_pink {
  list-style-image: url(checklistpoint_pink.png);
}

/*-------------------------------- Notifications ---------------------------------------------------------*/
.noti_error, .noti_success, .noti_warning, .noti_notification {
  padding: 15px;
  margin: 15px 0;
}
.noti_error {
  background: #ffd8d8;
  border: 1px solid #ff7171;
}
.noti_success {
  background: #deffd8;
  border: 1px solid #85ff71;
}
.noti_warning {
  background: #ffffd8;
  border: 1px solid #fed11b;
}
.noti_notification {
  background: #d8faff;
  border: 1px solid #1ba0fe;
}

/*-------------------------------- Tables ---------------------------------------------------------*/
table {
  width: 100%;
  margin: 15px 0;
}
thead {
  background: url(table_head.png) repeat-x;
  color: #a1a1a1;
  border-bottom: 1px solid #303030;
}
th {
  padding: 10px;
}
td {
  border: 0px solid #dfdfdf;
  padding: 6px;
  text-align: center;
}

td img {
  padding-right: 5px;
}

/*-------------------------------- Gallery -------------------------------------------------------*/

#gallery {
  z-index: 0;
  margin-top: 10px;
}


/*-------------------------------- Equipment -------------------------------------------------------*/

#inline1 {
  width: 600px;
  height: 600px;
  overflow: auto;
}

tr.d1 td {
  background-color: #d4d4d4;
}
tr.d2 td {
  background-color: #ffffff;
}

/*------------------------- SIGN UP / LOGIN ----------------------*/

.center_box, {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.center_box li{
  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

/*------- CONTACT FORM STYLE ----------*/

#contact_form li {

  list-style-image: none;
  list-style: none;
  list-style-type: none;
}

/*------- CONTENT BOX ---------*/

.modal-body img {
  padding-right: 5px;
}

/*------- CARBON THEME ----------*/

body{ background-color:#f4f4f4; color:#666;}

/*colors*/

	/*links*/
	a{ color:#ff7200;}
	a:hover{color:#000;}
	
	#footer a:hover{ color:#fff;}
	#footer span.time_ago{ color:#2e2d2d;}
	
	/*headings*/
	h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ color:#111;}
	h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong{ color:#ff7200;}
	h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline{ border-bottom:1px solid #e3e3e3;}
	.header_devider h1 { color:#fff;}

/*Background images*/

	/*Header*/
	#top_wrapper{ background-color:#111;}
	#top_wrapper_line_t{ background:url(carbon/top_wrapper_line_top.png) repeat-x;}
	#top_wrapper_line_b{ background:url(carbon/top_wrapper_line_bottom.png) repeat-x;}
	#top_wrapper_line_g{ background:url(carbon/top_wrapper_line_bottom.png) repeat-x;}

	#header{ background:url(carbon/head_bg.jpg) no-repeat;}
		.header_devider{background:url(carbon/head_devider.png) no-repeat;}
		
		#navigation li{ background:url(carbon/nav_li_left.png) top left no-repeat;}
		#navigation li a{ background:url(carbon/nav_li_right.png) top right no-repeat; color:#a6a6a6;}
		#navigation li a:hover, #navigation li a.active { color:#fff;}
			#navigation ul{background:url(carbon/dropdown_repeat.png) repeat-y;}
				#navigation ul li{ border-bottom:1px solid #121212; border-top:1px solid #2e2e2e;}
				#navigation ul li.dropdown_top{ background:url(carbon/dropdown_top.png) no-repeat;}
				#navigation ul li.dropdown_bottom{ background:url(carbon/dropdown_bottom.png) no-repeat;}

	/*Footer*/
	#footer_wrapper{ background-color:#111;}
		#footer_wrapper_line{ background:url(carbon/footer_wrapper_line.png) repeat-x;}
		#footer{ background:url(carbon/head_bg.jpg) no-repeat; color:#504f4f;}
		#footer h3{ color:#f4f4f4;}
			.footer_c_top{ background:url(carbon/footer_c_top.png) no-repeat;}
			.footer_c_bottom{ background:url(carbon/footer_c_bottom.png) no-repeat;}
			.footer_c_repeat{ background:url(carbon/footer_c_repeat.png) repeat-y;}
		
			#footer input{ background:url(carbon/footer_contact_input.png) no-repeat; color:#504f4f;}
			#footer input#footer_submit{ background:url(carbon/footer_contact_submit.png) no-repeat;}
			#footer_textarea{ background:url(carbon/footer_contact_textfield.png) no-repeat; color:#504f4f;}
		
	#footer_very_bottom_wrapper{ background:url(carbon/footer_very_bottom.png) repeat-x; color:#171717;}
	#footer_very_bottom_wrapper ul li a	{ color:#252525;}
	#footer_very_bottom_wrapper ul li a:hover {color:#ff7200;}
	




