<ul id="navigation" ><!-- navigation start -->

	<% @categories.each do |category| %>
	<li>
		<%= link_to_category_search category.name  %>
		<% if category.has_sub_categories? %>
		<ul>
			<% @sub_categories.each do |sub| %>
			<li>
				<%= link_to_sub_category_search sub.name  %>
			</li>
			<% end %>
		</ul>
		<% end %>
	</li>
	<% end %>

</ul><!-- navigation end -->



